@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1E1E1E;
  --foreground: #D4D4D4;
  --primary: #569CD6;
  --secondary: #4EC9B0;
  --accent: #CE9178;
  --border-radius: 0.5rem;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@layer components {
  .section-title {
    @apply text-2xl font-bold mb-4 text-primary;
  }
  
  .card {
    @apply bg-opacity-10 bg-white p-6 rounded-lg shadow-lg transition-all duration-300 hover:shadow-xl hover:scale-105;
    border-radius: var(--border-radius);
  }
  .rounded-custom {
    border-radius: var(--border-radius);
  }
}

